
#banner{
	background-color: #59C4C5;
	height:13%;
	position: absolute;
	top:0;
	left: 5%;
	right: 5%;


}

#websiteheading{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 30pt;
	
}

#tagline{
	font-family: verdana;
	font-style: italic;
	font-size: 15pt;
}

#navbar{
	background-color: #00C8F8;
	
	height:7%;
	position: absolute;
	top:13%;
	left: 5%;
	right: 5%;

	



}

#navbar ul {
	list-style: none;
	margin: 0;
	padding: 0px;

	border: 0;
	
}

#navbar li{
	float: left;
	border-right: 30px;
	padding-bottom: 6px;
	font-weight: bold;
	font-size: 1.5em;
	font-family: serif;


}

#navbar li a{

	
	display: block;
	
	padding: 0.4em;
	padding-right: 0.6em;
	text-decoration: none;
	color: #fff;

}

#navbar li a:hover{
	//background-color: #f9f9f9;
	background-color: #EAE2B4;
	display: block;
	color:#000;
	border: 0;
	margin: 0;
}

#sidebar{
	
	background-color: #FBE2B4;
	height:75%;
	position: absolute;
	top: 20%;
	left: 5%;
	width: 17%;
	
}


#content{
	
	background-color: #E5E5E5;
	position: absolute;
	top: 20%;
	left:22%;
	right: 5%;
	height:75%;
	
}


#content h1{
	margin-top: 0;
	padding-top: 0;
	border-top: 0;
}


.search{
	
	position: relative;
	top: 50%;
	left:20%;
	
	
}



#footer{
	
	
	position: absolute;
	top: 95%;
	left: 5%;
	right: 5%;
	background-color: #4AAAA5; 
}

#footer p{
	padding: 0.5em;
	color:#fff;
	font-size: 10pt;
}

/*#sidebar ul{
	list-style: none;
	

}*/

/*#sidebar ul li a{
	color:teal;
	font-size: 14pt;
}*/

/*#sidebar li a:hover{
	background-color: white;
	text-decoration: none;
	display: block;
	
}*/

#sidebar #registernav,#sidebar #loginnav{
	margin-bottom: 1px;
	text-align: center;
	padding-top: 4%;
	height:40px;
	background-color: #EAE2B4;
	font-size: 1.2em;


}

#sidebar a{
	text-decoration: none;
	position: relative;

}

#sidebar #registernav:hover,#sidebar #loginnav:hover{
	background-color: #E5E5E5;
	text-decoration: none;
	display: block;

}



body{
	background:transparent url(../images/old_moon.png) ;
	background-repeat: repeat;

}

